.grid-container {
    display: grid;
    grid-template-columns: auto auto auto 36% auto auto auto;
    grid-template-rows: minmax(1px, 80px) auto minmax(1px, 50px);
    
}

.hervorhebung{
    color: orange;
}

.side {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.show {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: rgba(0, 0, 0, 0.199);
}

.headerBar{
    grid-column-start: 1;
    grid-column-end: 5;

}


.content{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

input {
    block-size: 45px;
    inline-size: 73%;
    float: right;
    text-align: center;
}

select {
    block-size: 45px;
    inline-size: 73%;
    float: right;
    text-align: center;
}

html, body{
    background-image: url("AutoStraße.png");
    background-size: cover;
    background-attachment: fixed;
}

nav {
    margin: 1%;
}


/*.gefundeneFahrten{
    /*margin-top: 1%;
}*/

/*th{
    color: black;
	background-color: rgba(255, 166, 0, 0.623);
}*/   

/*td{
/*padding: 0.2em;
    color: black;
    background-color: white;
    border-color: orange;
}*/

table {
    margin: auto;
     border-collapse: collapse;
     overflow-x: auto;
     display: block;
     width: fit-content;
     max-width: 100%;
     box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
   }
   
   td, th {
     border: solid rgb(200, 200, 200) 1px;
     padding: .5rem;
   }
   
   th {
     text-align: left;
     background-color:rgb(255, 186, 59);
     text-transform: uppercase;
     padding-top: 1rem;
     padding-bottom: 1rem;
     border-bottom: rgb(50, 50, 100) solid 2px;
     border-top: none;
   }
   
   td {
     white-space: nowrap;
     border-bottom: none;
     color: rgb(20, 20, 20);
   }
   
   td:first-of-type, th:first-of-type {
     border-left: none;
   }
   
   td:last-of-type, th:last-of-type {
     border-right: none;
   }

   /*Quelle: https://codepen.io/cssgrid/pen/pRXQzW*/