.grid-container {
    display: grid;
    grid-template-columns: auto auto auto 36% auto auto auto;
    grid-template-rows: minmax(1px, 100px) auto minmax(1px, 30px);
    
}

.hervorhebung{
    color: orange;
}

.side {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.show {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgba(0, 0, 0, 0.199);
}

.headerBar{
    grid-column-start: 1;
    grid-column-end: 5;

}


.content{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

input {
    
    block-size: 45px;
    inline-size: 400px;
}

select {
    block-size: 45px;
    inline-size: 400px;
}

/*.fullscreen{
    /*background-image: url("../img/AutoStraße.png");
    background-size: cover;
    /*background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;
}*/

html, body{
    background-image: url("AutoStraße.png");
    background-size: cover;
    background-attachment: fixed;
}

nav {
    margin: 1%;
}
